[submodule "searching/protos"]
	path = searching/protos
	url = https://github.com/Javohir-A/pro-spefer-protos.git
[submodule "apigateway/protos"]
	path = apigateway/protos
	url = https://github.com/Javohir-A/pro-spefer-protos.git
[submodule "admin/protos"]
	path = admin/protos
	url = https://github.com/Javohir-A/pro-spefer-protos.git
[submodule "auth/protos"]
	path = auth/protos
	url = https://github.com/Javohir-A/pro-spefer-protos.git
